.labels{
    align-items: end;
}
.maincontainer{
    height:30%;
    width: 100vw;
    background-color: #061621;
    color: white;
    justify-content: space-around;
    padding: 20px;
}
.maincontainer > div{
    flex: 50%;
    margin-left: 50px;
}
.maincontainer input, .maincontainer textarea{ 
    border: 1px soild black;
    border-radius: 5px;
    width: 100%;
    resize: vertical;
}
.labels > div , .inputfields >  div{
    margin: 10px 0px;
}
.inputfields{
    margin-left: 10px;
    /* width: 20%; */
}
.title{
    font-size: x-large;
    color: rgb(223, 178, 112);
    font-weight: 700;
    margin-bottom: 20px;
}
i{
    font-size: 40px;
    margin-top: 20px;
}
.icons{
    margin-left: 40px;
    margin-top: 20px;
}
.send{
    height: 30px;
    width: 50%;
    background-color: rgb(158, 206, 190);
    border: 1px solid rgb(249, 255, 249);
    border-radius: 10px;
}
.send:hover{
    background-color: rgb(0, 255, 170);
}
.leftsection{
    border-right: 1px solid grey;
}