<head> </head>
<body>

    <div class="flexrow maincontainer">
      <div class="flexcolumn leftsection">
        <div class="flexrow">
          <p class="title">Connect With Us</p>
        </div>
        <div class="flexcolumn icons">
          <div><i class="fa fa-facebook-f"></i></div>
          <div><i class="fa fa-instagram"></i></div>
          <div><i class="fa fa-twitter-square"></i></div>
        </div>
      </div>
      <div class="flexcolumn">
        <div><p class="title">Queries...</p></div>
        <div class="flexrow">
          <div class="labels flexcolumn">
            <div><label for="">Your Name:</label></div>
            <div><label for="">Your Email:</label></div>
            <div><label for="">Query Description:</label></div>
          </div>
          <div class="inputfields flexcolumn">
            <div><input type="text" /></div>
            <div><input type="text" /></div>
            <div><textarea name="" id="" cols="30" rows="10"></textarea></div>
            <div><button class="send" (click)="sendquery()">Send</button></div>
          </div>
        </div>
      </div>
    </div>

</body>
