<div class="flexcolumn container">
    <div class="addmedicineschedle flexrow" >
        <div style="flex: 90%;">
            <button id="addschedule">Add Schedule</button>
        </div>
        <div  style="flex: 10%;">
            <i class="fa fa-filter filtericon"></i>
        </div>
    </div>
    <p>
        {{students[0].name}}
    </p>
    <!-- <div class="medicineschedules"> -->
        <!-- <ng-container  > -->
            <div *ngFor="let item of students">
                <p>
                    v
                 </p>
            </div>
        <!-- </ng-container> -->
        
    <!-- </div> -->
</div>