<div id="addscheduleModal" class="modal">
  <div class="modal-content flexcolumn">
    <div>
      <span class="close" (click)="closeaddschedulemodal()">&times;</span>
    </div>
    <form action="" (ngSubmit)="validatemedicinedata()">
      <div class="flexrow">
        <div class="labels flexcolumn">
          <label for="">Medicine Name:</label>
          <label for="">Schedule Time: </label>
          <label for="">Time Phase: </label>
          <label for="">Quantity: </label>
          <label for="">Reminder At: </label>
        </div>
        <div class="inputfields flexcolumn">
          <div><input type="text" id="medicinename" /></div>
          <div class="flexrow">
            <div>
              <input
                class="styled-checkbox"
                id="Mon"
                type="checkbox"
                value="Mon"
              />
              <label for="Mon">Mon</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="Tue"
                type="checkbox"
                value="Tue"
              />
              <label for="Tue">Tue</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="Wed"
                type="checkbox"
                value="Wed"
              />
              <label for="Wed">Wed</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="Thus"
                type="checkbox"
                value="Thus"
              />
              <label for="Thus">Thus</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="Fri"
                type="checkbox"
                value="Fri"
              />
              <label for="Fri">Fri</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="Sat"
                type="checkbox"
                value="Sat"
              />
              <label for="Sat">Sat</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="Sun"
                type="checkbox"
                value="Sun"
              />
              <label for="Sun">Sun</label>
            </div>
          </div>
          <div class="flexrow">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="morning"
                name="darkmode"
                value="Morning"
                (change)="enablecontrols()"
              />
              <label class="form-check-label" for="mySwitch">Morning</label>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="afternoon"
                name="darkmode"
                value="Afternoon"
                (change)="enablecontrols()"
              />
              <label class="form-check-label" for="mySwitch">Afternoon</label>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="night"
                name="darkmode"
                value="Night"
                (change)="enablecontrols()"
              />
              <label class="form-check-label" for="mySwitch">Night</label>
            </div>
          </div>
          <div class="flexrow">
            <div><input id="MorningQuantity" type="number" disabled /></div>
            <div><input id="AfternoonQuantity" type="number" disabled /></div>
            <div><input id="NightQuantity" type="number" disabled /></div>
          </div>
          <div class="flexrow">
            <div><input id="MorningReminderTime" type="number" disabled /></div>
            <div>
              <input id="AfternoonReminderTime" type="number" disabled />
            </div>
            <div><input id="NightReminderTime" type="number" disabled /></div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="editModal" class="modal">
  <div class="modal-content flexcolumn">
    <div>
      <span class="close" (click)="closeaddschedulemodal()">&times;</span>
    </div>
    <form action="">
      <div class="flexrow">
        <div class="labels flexcolumn">
          <label for="">Medicine Name:</label>
          <label for="">Schedule Time: </label>
          <label for="">Time Phase: </label>
          <label for="">Quantity: </label>
          <label for="">Reminder At: </label>
        </div>
        <div class="inputfields flexcolumn">
          <div><input type="text" /></div>
          <div class="flexrow">
            <div>
              <input
                class="styled-checkbox"
                id="styled-checkbox-2"
                type="checkbox"
                value="value2"
                checked
              />
              <label for="Mon">Mon</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="styled-checkbox-2"
                type="checkbox"
                value="value2"
                checked
              />
              <label for="Tue">Tue</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="styled-checkbox-2"
                type="checkbox"
                value="value2"
                checked
              />
              <label for="Wed">Wed</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="styled-checkbox-2"
                type="checkbox"
                value="value2"
                checked
              />
              <label for="Thus">Thus</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="styled-checkbox-2"
                type="checkbox"
                value="value2"
                checked
              />
              <label for="Fri">Fri</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="styled-checkbox-2"
                type="checkbox"
                value="value2"
                checked
              />
              <label for="Sat">Sat</label>
            </div>
            <div>
              <input
                class="styled-checkbox"
                id="styled-checkbox-2"
                type="checkbox"
                value="value2"
                checked
              />
              <label for="Sun">Sun</label>
            </div>
          </div>
          <div class="flexrow">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="mySwitch"
                name="darkmode"
                value="yes"
                checked
              />
              <label class="form-check-label" for="mySwitch">Morning</label>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="mySwitch"
                name="darkmode"
                value="yes"
                checked
              />
              <label class="form-check-label" for="mySwitch">Afternoon</label>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="mySwitch"
                name="darkmode"
                value="yes"
                checked
              />
              <label class="form-check-label" for="mySwitch">Night</label>
            </div>
          </div>
          <div class="flexrow">
            <div><input type="number" /></div>
            <div><input type="number" /></div>
            <div><input type="number" /></div>
          </div>
          <div class="flexrow">
            <div><input type="number" /></div>
            <div><input type="number" /></div>
            <div><input type="number" /></div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="filterModal" class="modal">
  <div class="modal-content flexcolumn">
    <div>
      <span class="close" (click)="closefiltermodal()">&times;</span>
    </div>
    <div class="flexrow">
      <div class="labels flexcolumn">
        <div><label for="">Medicine Name</label></div>
        <div><label for="">Day</label></div>
        <div><label for="">Time Phase</label></div>
      </div>
      <div class="inputfields flexcolumn">
        <div><input type="text" id="search"/></div>
        <div class="flexrow">
          <div>
            <input
              class="styled-checkbox"
              id="styled-checkbox-2"
              type="checkbox"
              value="value2"
              id="filterMon"
            />
            <label for="Mon">Mon</label>
          </div>
          <div class="flexrow">
            <input
              class="styled-checkbox"
              id="styled-checkbox-2"
              type="checkbox"
              value="value2"
              id="filterTue"
            />
            <label for="Tue">Tue</label>
          </div>
          <div>
            <input
              class="styled-checkbox"
              id="styled-checkbox-2"
              type="checkbox"
              value="value2"
              id="filterWed"
            />
            <label for="Wed">Wed</label>
          </div>
          <div>
            <input
              class="styled-checkbox"
              id="styled-checkbox-2"
              type="checkbox"
              value="value2"
              id="filterThus"
            />
            <label for="Thus">Thus</label>
          </div>
          <div>
            <input
              class="styled-checkbox"
              id="styled-checkbox-2"
              type="checkbox"
              value="value2"
              id="filterFri"
            />
            <label for="Fri">Fri</label>
          </div>
          <div>
            <input
              class="styled-checkbox"
              id="styled-checkbox-2"
              type="checkbox"
              value="value2"
              id="filterSat"
            />
            <label for="Sat">Sat</label>
          </div>
          <div>
            <input
              class="styled-checkbox"
              id="styled-checkbox-2"
              type="checkbox"
              value="value2"
              id="filterSun"
            />
            <label for="Sun">Sun</label>
          </div>
        </div>
        <div class="flexrow">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="mySwitch"
              name="darkmode"
              value="yes"
              id="filterMorning"
            />
            <label class="form-check-label" for="mySwitch">Morning</label>
          </div>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="mySwitch"
              name="darkmode"
              value="yes"
              id="filterAfternoon"
            />
            <label class="form-check-label" for="mySwitch">Afternoon</label>
          </div>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="mySwitch"
              name="darkmode"
              value="yes"
              id="filterNight"
            />
            <label class="form-check-label" for="mySwitch">Night</label>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary mt-3" (click)="filterschedules()">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flexcolumn container" >
  <div class="addmedicineschedle flexrow">
    <div style="flex: 90%">
      <button id="addschedule" (click)="openaddschedulemodal()">
        Add Schedule
      </button>
    </div>
    <div style="flex: 10%">
      <i class="fa fa-filter filtericon" (click)="openfiltermodal()"></i>
    </div>
  </div>

  <div class="medicineschedules">
    <div
    *ngFor="
    let itemname of medicinescheduledata['medicinenames'];
    let i = index
  "
      class="scheduleitem flexcolumn"
    >
      <div class="flexrow actions">
        <div><i class="far fa-edit" id="edit"></i></div>
        <div (click)="deleteschedule(medicinescheduledata['medicine_id'][i],i)"><i class="fas fa-trash-alt" id="delete" ></i></div>
      </div>
      <div class="itemcontent">
        <div class="flexrow">
          <div class="flexrow">
            <div class="flexcolumn labels">
              <div><p>Medicine Name:</p></div>
              <div><p>Scheduled On:</p></div>
            </div>
            <div class="flexcolumn value">
              <div>
                <p>{{ itemname }}</p>
              </div>
              <div class="flexrow weekdays">
                <div
                  *ngFor="let day of medicinescheduledata['days'][i].day_name"
                >
                  <button disabled>{{ day }}</button>
                </div>
                <!-- <div><button disabled>Wed</button></div>
                <div><button disabled>Tue</button></div> -->
              </div>
            </div>
          </div>
          <div class="flexrow">
            <div class="flexcolumn labels">
              <div><p>Time Phase:</p></div>
              <div><p>Quantity:</p></div>
              <div><p>Reminder Time:</p></div>
            </div>
            <div class="flexcolumn value timedata">
              <div class="flexrow">
                <div
                  *ngFor="
                    let timephase of medicinescheduledata['otherdetails'][i]
                      .timephase
                  "
                >
                  <p>{{ timephase }}</p>
                </div>
              </div>
              <div class="flexrow">
                <div
                *ngFor="
                  let quantity of medicinescheduledata['otherdetails'][i]
                    .quantity
                "
              >
                <p>{{ quantity }}</p>
              </div>
              </div>
              <div class="flexrow">
                <div
                *ngFor="
                  let remindertime of medicinescheduledata['otherdetails'][i]
                    .remindertime
                "
              >
                <p>{{ remindertime }}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
