img {
  height: 300px;
  width: 500px;
  border-radius: 100%;
  border: 1px solid black;
  box-shadow: 5px 10px #746f6f;
}
.maincontainer {
  justify-content: center;
}
p {
  margin-top: 10px;
  font-size: x-large;
  text-align: center;
  font-weight: 800;
}
.gap {
  margin-top: 40px;
  margin-left: 40px;
}
