<main>
  <div class="container">
    <section class="section-1 flex">
      <div class="img">
        <img
          src="https://cdn.dribbble.com/userupload/2865453/file/original-6aac423cd5dcb68754dc923b43f3459d.jpg?resize=400x0"
          alt=""
        />
      </div>

      <div class="text">
        kl['k;']sfgsgsdfgsdfgsdfgsdfgsdfgsdfgsdfgs;']sfgsgsdfgsdfgsdfgsdfgsdfgsdfgsdfgs;']sfgsgsdfgsdfgsdfgsdfgsdfgsdfgsdfgs;']sfgsgsdfgsdfgsdfgsdfgsdfgsdfgsdfgs
      </div>
    </section>
  </div>

  <div class="container">
    <section class="section-2 flex">
      <div class="text-2">dsgsdfg</div>

      <div class="img">
        <img
          src="https://cdn.dribbble.com/userupload/2865453/file/original-6aac423cd5dcb68754dc923b43f3459d.jpg?resize=400x0"
          alt=""
        />
      </div>
    </section>
  </div>

  <div class="container">
    <section class="section-3 flex">
      <div class="card">
        <img
          src="https://cdn.dribbble.com/userupload/2865453/file/original-6aac423cd5dcb68754dc923b43f3459d.jpg?resize=400x0"
          alt=""
        />
      </div>

      <div class="card">
        <img
          src="https://cdn.dribbble.com/userupload/2865453/file/original-6aac423cd5dcb68754dc923b43f3459d.jpg?resize=400x0"
          alt=""
        />
      </div>

      <div class="card">
        <img
          src="https://cdn.dribbble.com/userupload/2865453/file/original-6aac423cd5dcb68754dc923b43f3459d.jpg?resize=400x0"
          alt=""
        />
      </div>
    </section>
  </div>
</main>
