*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
